.git
.gitignore
.codex

build
OpenPCDet/build
OpenPCDet/dist
OpenPCDet/*.egg-info
**/__pycache__
**/*.pyc
**/*.pyo

model/runtime
model/*.plan
model/*.log
model/**/*.plan
model/**/*.log

ckpts
data

docker/*.tar
